.confession-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 55px;
}

.confession-card {
  height: 200px;
  width: 35%;
  /* border: 1px solid blue; */
  margin-left: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 5px #ccc;
  position: relative;
}

.time-ago {
  position: absolute;
  bottom: 5px;
  font-size: small;
}
