.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #2c2c58;
  filter: contrast(64%);
  padding: 20px;
}

.navbar-title,
.navbar-title > a {
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.navbar-routes,
.navbar-routes > a {
  color: #ccc;
  text-decoration: none;
}
